{{ define "main" }}
    {{ $context := . }}
    
    {{ partial "single_article.html" $context }}

    <section class="archives-wrap">
        <div class="archive-category-wrap">
            <span class="archive-category">{{ .Title }}</span>
        </div>
        <div class="archives">
          {{ $paginator := .Paginate .RegularPagesRecursive }}
            {{ range $paginator.Pages }}
                {{ .Render "summary" }} 
            {{ end }}
        </div>
    </section>
    {{ partial "pagination" . }}

{{ end }}
